/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply rounded-md py-1 px-1.5 transition-all duration-500 ease-in-out hover:bg-gray-300/75;
  }

  .text-mini-link {
    @apply rounded-md bg-gray-200/75 px-2 py-1.5 text-xs text-black/60 transition-all hover:bg-gray-300/75;
  }

  .input-primary {
    @apply input-secondary block w-full;
  }

  .input-secondary {
    @apply rounded-md border-gray-300 shadow-sm focus:border-sky-700/40 focus:ring focus:ring-sky-600/20 focus:ring-opacity-50;
  }

  .checkbox {
    @apply h-6 w-6 rounded border-gray-300 text-sky-700/80 shadow-sm transition-all duration-200 ease-in-out focus:border-sky-700/40 focus:ring focus:ring-sky-600/20 focus:ring-opacity-50 focus:ring-offset-0;
  }

  .position-highlight {
    @apply rounded-md bg-sky-700/80 py-2 px-3 font-semibold text-white shadow-sm md:w-full;
  }

  .name-highlight {
    @apply rounded-md bg-gray-200 py-5 px-5 shadow-sm md:w-full;
  }

  .button {
    @apply rounded-lg  px-4 py-1.5 opacity-90 transition-all duration-200 ease-in-out;
  }

  .button-submit {
    @apply button bg-sky-700/80 text-white ring-sky-600/40 hover:ring-2;
  }

  .button-clear {
    @apply button border-2 border-rose-700/80 text-rose-700/80 opacity-70 ring-rose-600/40 hover:bg-rose-800 hover:text-white;
  }

  .button-neutral {
    @apply button bg-gray-200 ring-gray-600/40 hover:ring-2;
  }

  .main-table {
    @apply w-full table-auto divide-y divide-gray-200;
  }

  .head-table {
    @apply text-left text-xs font-medium uppercase tracking-wider;
  }

  .card {
    @apply rounded-lg border-[1px] bg-white py-5 text-center text-lg shadow-lg transition-all ease-in-out hover:bg-gray-600 hover:text-white;
  }

  .disable {
    @apply disabled:cursor-not-allowed;
  }

  .vercel {
    min-height: 100vh;
    background: #fff;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-image: radial-gradient(#ddd 1px, transparent 1px),
      radial-gradient(#ddd 1px, transparent 1px);
    background-position: 0 0, 25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;

    /* Hack */
    overflow-x: hidden;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  html {
    scroll-behavior: smooth;
  }
  /* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}
